<html>            
    <head>  
        <title> blogs</title>     
    </head>
    <body>
        <form>
            <input type="text" name='first' placeholder="first name" required="required">
            <input type="text" name='soecnd' placeholder="secong name" required="required">
            <input type="text" name='surname' placeholder="surname name" required="required">
            <input type="number" name='age' placeholder="your age" required="required">
            <input type="text" name='gender' placeholder="gender name" required="required">
            <input type="mail" name='email' placeholder="enter mail" required="required">
        </form>  
    </body>
</html>