<html>            # screen of url page
    <head>  
        <title> home</title>      # head 
    </head>


    <body>   # body
    <h1> welcome to html pages</h1> 
    <h2>welcome to html paages</h2>
    <h3>welcome to html pages</h3>
    
    <p>this class of html we creating html page and running your app from flask main file,templates is important and structure is inside  delpoyment 2 folder  1.main file where flak with app run 2. templates inside html files   ::: to run this flask: main.py file need to import render_templates and after retunr wrire render render_templates ("main,html") </p>
    </body>

</html>